body{
  overflow-x: hidden;
}
.page {
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  height: 300px;
  width: 300px;
  overflow: visible;
}

.main-box {
  background-color: green;
  width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}

.small-boxes {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 300px;
  height: 300px;
}

.box {
  width: 60px;
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.5s, transform 0.5s ease-in-out;
}

.main-box.animate .box {
  opacity: 1;
  transform: scale(1);
}

.api {
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
}

.shopify {
  position: absolute;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
}

.etsy {
  position: absolute;
  right: -80px;
  top: 50%;
  transform: translateY(-50%);
}
